<ion-header>

  <custom-logged-header [title]="pageTitle" [user]="recipient"></custom-logged-header>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <!-- <ion-item *ngFor="let message of messages | async">{{message.text}}</ion-item> -->
    <message-box *ngFor="let message of messages | async" [message]="message" 
                  [isFromSender]="(message.userId == sender.$key)" [alreadyRead]="(message.read)">
                   <!-- If the user id (sender. $ Key) is equal to the id of the message owner (message.userId) then it will return true -->

    </message-box>
  </ion-list>
</ion-content>

<ion-footer>

  <ion-toolbar>
    <ion-item no-lines>
      <ion-input type="text" (keyup.enter)="sendMessage(newMessage); newMessage = '' "
                 placeholder="Type here..." [(ngModel)]="newMessage">
                <!-- key up detects if pressing enter activates the send msg function -->

      </ion-input>
      <button ion-button item-right (click)="sendMessage(newMessage); newMessage = '' "> 
         <!-- dps q call function, new message turns an empty string-->
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>

</ion-footer>